<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2> 
				<!-- a partir de esto estoy trabajando con el formulario de ingreso-->
				<article>
					<form method="GET" action="/users/profile">
						
						<label class="form-label">Nombre de usuario:</label>
						<input type="text" name="username" placeholder="" class="form-input">
						
						<label class="form-label">Contraseña:</label>
						<input type="password" name="password" placeholder="" class="form-input">

						<label class="form-label" >Recuérdame <input type="checkbox" name="recuerdame" >
						</label>
						
						<button type="submit"> Ingresar</button>
					</form>
				</article>
			</div>
			


	<%- include('./partials/footer') %>
</body>

</html>