<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
				<article class="loginForm">
					<form method="GET" action="/register">
						
						<label>Email</label>
						<input type="email" name="email" placeholder="pepito@example.com">
						
						<label>Fecha de Nacimiento</label>
						<input type="date" name="fechaNacimiento">

						<label>Número de documento</label>
						<input type="number" name="dni">

						<label>Nombre de usuario:</label>
						<input type="text" name="username" placeholder="pepito@example.com">

						<label>Contraseña:</label>
						<input type="password" name="password" placeholder="">
						
						<button type="submit"> Ingresar</button>

						<label>Foto de perfil:</label>
						<input type="image" name="fotoPerfil">
						
					</form>
				</article>
			</div>
			<!-- Show the "ultimos" products -->
			


	<%- include('./partials/footer') %>
</body>

</html>